<div
  class="bg-theme-light dark:bg-darkmode-theme-light rounded p-8 text-center">
  {{ partial "image" (dict "Src" .image "Context" .Page "Alt" .Title "Class" "mx-auto mb-6 rounded" "size" "120x120") }}
  <h4 class="mb-2">
    {{ .name }}
  </h4>
  <p class="mb-4">
    {{ .description }}
  </p>
  <ul class="social-icons">
    {{ range .social }}
      <li>
        <a href="{{ .link | safeURL }}" target="_blank" rel="noopener nofollow">
          <span class="sr-only">{{ .title }}</span>
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
  </ul>
</div>
