{{ define "main" }}
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
          {{ .Params.noActs | markdownify }}
        </div>
      </div>
    </div>
  </section>

  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="md:col-10 lg:col-6 mx-auto">
          <form action="{{ site.Params.contact_form_action }}" method="POST">
            <div class="mb-6">
              <label for="name" class="form-label">
                Name <span class="text-red-500">*</span>
              </label>
              <input
                id="name"
                name="name"
                class="form-input"
                placeholder="John Doe"
                type="text"
                required />
            </div>
            <div class="mb-6 flex space-x-4">
              <div class="flex-1">
                <label for="adults" class="form-label">
                  Adults <span class="text-red-500">*</span>
                </label>
                <input
                  id="adults"
                  name="adults"
                  class="form-input"
                  placeholder="0"
                  type="number"
                  min="0"
                  required />
              </div>
              <div class="flex-1">
                <label for="children" class="form-label">
                  Children (under 15) <span class="text-red-500">*</span>
                </label>
                <input
                  id="children"
                  name="children"
                  class="form-input"
                  placeholder="0"
                  type="number"
                  min="0"
                  required />
              </div>
            </div>
            <div class="mb-6">
              <label for="email" class="form-label">
                Email <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                placeholder="john.doe@email.com"
                type="email"
                required />
            </div>
            <div class="mb-6">
              <label for="anythingElse" class="form-label">
                Anything else? <span class="text-red-500">*</span>
              </label>
              <textarea
                id="anythingElse"
                name="anythingElse"
                class="form-input"
                placeholder="Please put the names of the people you are booking for..."
                rows="8"
                required></textarea>
            </div>
            <div class="mb-6">
              <label class="form-label">
                <input
                  id="bellTent"
                  type="checkbox"
                  name="bellTent"
                  class="form-checkbox" />
                I'm interested in a bell tent
              </label>
            </div>
            <div class="mb-6">
              <label class="form-label">
                <input
                  id="davidMascot"
                  type="checkbox"
                  name="davidMascot"
                  class="form-checkbox" />
                I believe David Neville should go on stage dressed as a mascot
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{{ end }}
