{{ define "main" }}
  {{ if not .Params.acts }}
    <section class="section-sm pb-0">
      <div class="container">
        <div class="row">
          <div class="md:col-10 lg:col-6 mx-auto">
            {{ .Params.noActs | markdownify }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}

  <section class="section-sm pt-1">
    <div class="container">
      <div class="row">
        {{ range .Params.acts }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/band-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
