{{ define "main" }}
  <!-- Acts -->
  {{ if not .Params.acts }}
    <section class="section-sm pb-0">
      <div class="container">
        <div class="row">
          <div class="md:col-10 lg:col-6 mx-auto">
            {{ .Params.noActs | markdownify }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}

  {{ range $i, $e:= .Params.acts }}
    <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
      <div class="container">
        <div class="row items-center justify-between">
          <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ if .image }}
              {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
            {{ else }}
              {{ partial "image" (dict "Src" "/images/band-placeholder.png" "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
            {{ end }}
          </div>
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            <h2 class="mb-4">
              {{ .name | markdownify }}
            </h2>
            <p class="mb-8 text-lg">
              {{ .description | markdownify }}
            </p>
            <ul>
              {{ range .bulletpoints }}
                <li class="relative mb-4 pl-6">
                  <i class="fa fa-check absolute left-0 top-1.5"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .socials }}
              {{ if .facebook }}
                <a class="btn btn-primary mt-6" href="{{ .facebook }}">
                  {{ .label }}
                  <i class="fa-brands fa-facebook"></i>
                </a>
              {{ end }}
              {{ if .instagram }}
                <a class="btn btn-primary mt-6" href="{{ .instagram }}">
                  {{ .label }}
                  <i class="fa-brands fa-instagram"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->
{{ end }}
